input {
	font-family: monospace;
}

.html-duration-picker-input-controls-wrapper .html-duration-picker {
  padding-right: 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.html-duration-picker-input-controls-wrapper .scroll-btn {
  text-align: center;
  width: 16px;
  padding: 0 4px;
  border: none;
  cursor: default;
  position: absolute;
}

.html-duration-picker-input-controls-wrapper .caret {
  width: 0;
  height: 0;
  border-style: solid;
}

.html-duration-picker-input-controls-wrapper .caret.caret-up {
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #000 transparent;
}

.html-duration-picker-input-controls-wrapper .caret.caret-down {
  border-width: 5px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
}

.html-duration-picker-input-controls-wrapper .controls {
  display: inline-block;
  position: absolute;
  top: 1px;
  padding: 2px 0;
}

.html-duration-picker-input-controls-wrapper {
  display: inline-block;
  position: relative;
  background: transparent;
  padding: 0;
  box-sizing: border-box;
}

input.html-duration-picker::placeholder {
	color: #2A95D2;
}